useDynLib("BIDistances", .registration = TRUE)

export(CosinusDistance)
export(Dist2All)
export(DistanceDistributions)
export(DistanceMatrix)
export(fastPdist)
export(FractionalDistance)
export(GiniDist)
export(jaccard)
export(Mahalanobis)
export(msmd)
export(nearest)
export(SharedNeighborDistance)
export(Tfidf_dist)
export(ToroidDist2All)
export(TransformSimilarity2MetricDistance)
export(twed)
export(VariablePrecision)
export(WassersteinDist)

import(Rcpp)
import(DataVisualizations)

importFrom("parallelDist", "parallelDist", "parDist")
importFrom("parallel", detectCores, makeCluster, parSapply, parLapply)
importFrom("stats", "as.dist", "cor", "dist")
importFrom("methods", "is")
importFrom("ggplot2", ggtitle)
importFrom("pracma", squareform)
importFrom("RcppParallel", defaultNumThreads)


